<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Name Change Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<!--     <link rel="stylesheet" type="text/css" href="/static/main.css" media="all"/> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project/main.css' %}">
  </head>
<body>
  <div class="main">
  <header class="main-header">
    <div class="logo">
      Name Change Tracker
    </div>
  </header>
  <nav class="main-nav">
    <div class="nav-toggle">
      <input type="checkbox" class="toggle-checkbox" />
      <span class="burger"></span>
      <span class="burger"></span>
      <span class="burger"></span>
      <ul>
        <li><a href="https://youthful-muse.glitch.me/">Home</a></li>
        <li><a href="https://youthful-muse.glitch.me/profile.html"></a>My Profile</li>
        <li>Organisations</li>
        <li>About</li>
      </ul>
    </div>
  </nav>
  <div class="page-content">  
    {% block content %}{% endblock content %}
  </div>
  </div>
</body>
</html>

