{% extends 'base.html' %}
{% block content %}

<div class="page-intro">
  
  <div class="subheading"><a href="/organisations">Organizations</a> &raquo; <a href="">Banking</a></div>
  <h1>Organization Name</h1>

</div>

<div class="page-main">
  
  <div class="page-rating">
  <div class="label">
    Ratings:  
  </div>
  <div class="rating positive">
    Mostly positive
  </div>
  </div>
  
  <div class="page-field">
    <div class="label">
      Website:
    </div>
    <div class="field website-link">
      <a href="https://www.example.com">www.example.com</a>
    </div>
  </div>
  
  <div class="page-field">
    <div class="label">
      Contact information:
    </div>
    <div class="field contact-information">
      Telephone 02012345678
      
      Address
      1 Example Street
      Example
      London
      EC1 AAA
    </div>
  </div>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo eget magna fermentum iaculis. Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet. Dui vivamus arcu felis bibendum ut tristique et. Nec feugiat in fermentum posuere urna nec tincidunt. Enim nec dui nunc mattis enim ut tellus. Penatibus et magnis dis parturient montes. Nunc aliquet bibendum enim facilisis gravida neque. Pretium quam vulputate dignissim suspendisse. Auctor augue mauris augue neque gravida in.

  <p>Sed blandit libero volutpat sed cras ornare arcu dui. Aliquam ut porttitor leo a diam sollicitudin tempor id. Adipiscing at in tellus integer feugiat. Neque volutpat ac tincidunt vitae. Nec ultrices dui sapien eget. Gravida cum sociis natoque penatibus et magnis dis parturient. Sit amet est placerat in egestas erat imperdiet sed. Elementum nibh tellus molestie nunc non blandit. Duis at consectetur lorem donec. Egestas quis ipsum suspendisse ultrices. Vitae nunc sed velit dignissim. Nisl suscipit adipiscing bibendum est ultricies integer quis. Cursus risus at ultrices mi tempus. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Lacus sed viverra tellus in hac habitasse platea. Bibendum neque egestas congue quisque egestas diam in arcu cursus.

<!--   <p>Nunc consequat interdum varius sit amet mattis vulputate enim. Morbi tempus iaculis urna id. Eget nunc scelerisque viverra mauris in aliquam sem fringilla. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl. Elementum integer enim neque volutpat ac tincidunt vitae. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Diam donec adipiscing tristique risus nec feugiat in fermentum. Pellentesque habitant morbi tristique senectus. Nisi porta lorem mollis aliquam ut porttitor leo a diam. Duis at tellus at urna condimentum mattis pellentesque id. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Duis ultricies lacus sed turpis tincidunt id aliquet risus. Cursus in hac habitasse platea dictumst quisque sagittis purus. Magna ac placerat vestibulum lectus mauris ultrices eros. Nunc non blandit massa enim nec dui. Euismod nisi porta lorem mollis aliquam ut porttitor leo a. Accumsan in nisl nisi scelerisque eu ultrices vitae.

  <p>Nec ullamcorper sit amet risus nullam eget felis eget nunc. Faucibus scelerisque eleifend donec pretium vulputate. Nec ultrices dui sapien eget mi proin. In fermentum et sollicitudin ac. Arcu vitae elementum curabitur vitae nunc sed velit. Dui faucibus in ornare quam viverra orci sagittis eu. Hac habitasse platea dictumst quisque sagittis purus. Velit dignissim sodales ut eu sem integer vitae. Massa sed elementum tempus egestas. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Proin libero nunc consequat interdum varius sit amet mattis vulputate. Aliquet lectus proin nibh nisl condimentum id. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Facilisis sed odio morbi quis commodo odio aenean. Pretium quam vulputate dignissim suspendisse in est ante in nibh.

  <p>Hac habitasse platea dictumst quisque sagittis purus sit. Interdum velit laoreet id donec ultrices. In vitae turpis massa sed elementum tempus. Nunc sed velit dignissim sodales. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Sit amet consectetur adipiscing elit ut. Purus sit amet luctus venenatis lectus magna fringilla urna porttitor. Neque volutpat ac tincidunt vitae. Dictum varius duis at consectetur lorem donec massa. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Sapien eget mi proin sed libero enim sed. -->
  
    
    
</div>

          <p>{{ title }}</p>
          <p>{{ author }}</p>
          <p>{{ date }}</p>
          <p>{{ body }}</p>

{% endblock %}

